.footer{
    display: flex;
    flex-direction: column;
    width: min(90%, 1160px);
    padding: 0 0 24px;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: left;
    justify-content: space-between;
}

.footer__icons{
    display: flex;
    gap: 24px;
    margin: 16px 0;
    align-items: center;
    justify-content: center;
}
.copyright__text{
    text-align: center;
}

.footer__icons img{
    width: 32px;
    cursor: not-allowed;
}

.footer ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0 32px;
    margin: 32px 0;
    list-style: none;
    justify-content: center;
}

li{
    color: grey;
    font-size: 14px;
    cursor: not-allowed;
    line-height: 2;
}

.copyright__text{
    color: grey;
    font-size: 14px;
}

@media (max-width: 800px){
    .footer ul{
        display: grid;
        grid-template-columns: auto auto;
        gap: 0px 16px;
        text-align: center;
    }

.footer__icons img{
    width: 24px;
}
.footer li{
    line-height: 2;
}

}
